<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DoorAuthoritySoap" />
                <binding name="DoorAuthoritySoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="DoorAuthoritySoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="DoorAuthoritySoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://10.5.0.122:83/DoorAuthority.asmx" binding="customBinding"
                bindingConfiguration="DoorAuthoritySoap121" contract="ServiceReference1.DoorAuthoritySoap"
                name="DoorAuthoritySoap121" />
            <endpoint address="http://localhost:27335/DoorAuthority.asmx"
                binding="basicHttpBinding" bindingConfiguration="DoorAuthoritySoap"
                contract="ServiceReference_Test.DoorAuthoritySoap" name="DoorAuthoritySoap" />
           
        </client>
    </system.serviceModel>
</configuration>